@using System.Globalization
<!DOCTYPE html>
<html class="light" lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Klacks Store | Plugins & Language Packs</title>
    <base href="/" />
    <style>
        @@font-face {
            font-family: 'Material Symbols Outlined';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url('/fonts/material-symbols-outlined.ttf') format('truetype');
        }
        @@font-face {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 300 900;
            font-display: swap;
            src: url('/fonts/inter-variable.ttf') format('truetype');
        }
    </style>
    <link href="~/css/site.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body class="bg-surface font-body text-on-surface antialiased">
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled error has occurred. See browser console for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">X</a>
    </div>

    <script src="~/_framework/blazor.server.js"></script>
</body>
</html>
